[Desktop Entry]
Type=Application
Name=Kiwi Apps
Comment=Browse, install and update open-source apps from git catalogs
Exec=kiwi-gui
Icon=eu.kiwinetwork.KiwiUpdater
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=update;install;software;apps;store;git;kiwi;
